body {
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("wave-haikei.png") no-repeat;
  background-size: cover;
  row-gap: 10px;
  column-gap: 10px;
}
form {
  border: 2px solid rgb(190, 196, 182);
  border-radius: 10px;
  padding: 20px;
  height: 53vh;
  width: 30vw;
  text-align: center;
}
input {
  border: 0.75px rgb(255, 255, 255) solid;
  border-radius: 5px;
  padding: 3px;
  margin-left: 20px;
  margin-top: 45px;
  background: transparent;
  color: rgb(229, 235, 40);
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 1px 1px;
}
label {
  width: 50px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  margin-left: 7px;
}
button {
  cursor: pointer;
  padding: 8px;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 50px;
  width: 110px;
  background-color: rgb(255, 239, 98);
  box-shadow: 4px 5px 3px;
  font-weight: bolder;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#password {
  margin-left: 15px;
}
.hack {
  margin-left: -30px;
}
h1 {
  font-family: sans-serif;
  font-weight: 700;
  color: rgb(235, 235, 187);
}
footer {
  font-size: xx-small;
  font-style: italic;
  margin-bottom: 100px;
  line-height: 50px;

  text-align: left;
}
button:hover {
  background-color: chartreuse;
}
